.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
00_development.ipynb
Paper*
.venv.bak
test_files/
CLAUDE.md
docs/pubr_theme.md
outputs/15px_patches/
outputs/31px_patches/
outputs/cnn_outputs/old_pre_smoothing
outputs/sampled_points_by_location/sampled_points/
outputs/loss_curves
.DS_Store
